[submodule "cxxopts"]
	path = cxxopts
	url = git@github.com:sgnoohc/cxxopts.git
	branch = master
[submodule "syncfiles"]
	path = syncfiles
	url = git@github.com:Amarang/syncfiles.git
	branch = master
